.containerConferences{
    text-align: left;
    margin-top: 3rem;
}

li span{
    font-style: italic;
}

.conferences h2{
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
    
}

.conferences .title{
    font-weight: 700;
    color:#006B88;
    font-size: 20px;
}

.conferences .row{
    margin-bottom:3rem;
}

@media screen and (max-width: 750px){
    .conferences h2{
        margin-top:2rem !important;
        margin-bottom: 3rem !important;      
}
    .conferences{
        margin-bottom:5rem !important;
    }
}