.contact{
    display: flex;
}

/* .suppNav{
    display: flex !important;
} */

.navLink{
    text-decoration: none !important;
    color:#003d4e;
    font-size: 20px;
    font-weight: 400 !important;
    margin-right:2rem;
}

/* .navLink:focus{
    font-weight:700 !important;
}

.navLink:active{
    font-weight: 700 !important;
} */


.navLink:hover{
    text-decoration: underline !important;
    color:#fb7521;
}

.orangeClass{
    text-decoration: underline !important;
    color:#fb7521;
}

#feliceHome{
    font-size: 25px ;
    font-weight: 700 ;
    color: #006B88 !important;
    text-decoration: none;
    margin-right: 3rem;
}

#feliceHome:hover{
    text-decoration: none !important;
    color:#fb7521 !important;
}

#cv:focus{
    font-weight: 400;
}

#cv:hover{
    text-decoration: none !important;
}